@use '../../styles/vars';
.signIn{
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-form{
    height: 100vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &-buttonreturn {
      width: 80px;
      margin-left: 1rem !important;
  }
  &-backoffice {
    color:teal;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
    color: teal;
    scale:1.05;
    }
    }
  &-producerText {
    font-family: 'Trirong';
    margin: 0;
    margin-right: 0.5rem;
    }
}
