.input-search {
  height: 38px;
  
  input {
    border: 0px !important;
  }

  @media (max-width: 1200px) and (min-width: 960px) {
    max-width: 33%;
  }

  @media (max-width: 960px) and (min-width: 640px) {
    // width: 100%;
    max-width: 33%;
  }

  @media (max-width: 640px) {
    // width: 100%;
    max-width:33%;
  }
}
